<form action="<%- data.page.path %>" method="POST">
    <div class="container">
    <div class="mb-3">
        <textarea name="text" class="form-control form-control-lg" rows="5" placeholder="しゃべらせたいないようをにゅうりょくしてね" aria-label=".form-control-lg example"><%- prevPostData.text %></textarea>
    </div>
    </div>
    <BR>

    <% let cx = prevPostData?.voice_type ?? 0 %>
    <% let special = page?.specialParams ?? 0 %>
    <div class="container bg-light border border-primary">
        こえのしゅるい
        <% const vt = special.voiceTypes %>
        <% const vlen = vt.length %>
        <% for(let i=0; i<vlen; i++){ %>
            <%- i%4==0 ? '<div class="row">' : '' %>
            <div class="col">
            <input type="radio" name="voice_type" id="rb1" value="<%= i %>" <%- cx==i?'checked':'' %>><%- vt[i].show_name %></input>
            </div>
            <%- i%4==3 ? '</div>' : '' %>
        <%} %>
        </div>
    </div>

    <div class="container bg-light border border-primary mt-2">
    <% let sp = prevPostData?.speed ?? 1 %>
    <% let pt = prevPostData?.pitch ?? 0 %>
    <% let vol = prevPostData?.volume ?? 30 %>
    <P>こえのはやさ
        <input id="speed_slider" type="range" name="speed" min="0.25" max="4.00" step="0.01" 
            value="<%- sp %>"><div id="speed_value"><%- sp %></div>
    </P>
    <P>こえのたかさ
        <input id="pitch_slider" type="range" name="pitch" min="-20" max="20" step="0.01" 
            value="<%- pt %>"><div id="pitch_value"><%- pt %></div>
    </P>

    <P>おとのおおきさ
        <input id="volume_slider" type="range" name="volume" min="0" max="100" step="5" 
            value="<%- vol %>"><div id="volume_value"><%- vol %></div>
    </P>
    <P><input type="checkbox" name="reverse_play" value="true" <%- prevPostData?.reverse_play ? 'checked' : '' %>>はんたいことば</P>
    </div>
    <div class="container bg-light border border-primary mt-2">
        とくしゅこうか
        <div class="row">
            <div class="col">
                <input type="radio" name="rb_effects1" value="" <%- !prevPostData?.rb_effects1 ? 'checked' : '' %>>なし
            </div>
            <div class="col">
                <input type="radio" name="rb_effects1" value="robot" <%- prevPostData?.rb_effects1 == 'robot' ? 'checked' : '' %>>ロボット
            </div>
            <div class="col">
                <input type="radio" name="rb_effects1" value="yamabiko" <%- prevPostData?.rb_effects1 == 'yamabiko' ? 'checked' : '' %>>やまびこ
            </div>
        </div>
    </div>

    <div class="container">
        <%- include("./send_voice.ejs", {common: common}) %>
    </div>
</form>


<script>
    function inputChange0(event){
        val0.innerText = speed_slider.value;
    }    
    function inputChange1(event){
        val1.innerText = pitch_slider.value;
    }    
    function inputChange2(event){
        val2.innerText = volume_slider.value;
    }    

    let element0 = document.getElementById('speed_slider');
    element0.addEventListener('change', inputChange0);
    let val0 = document.getElementById('speed_value');

    let element1 = document.getElementById('pitch_slider');
    element1.addEventListener('change', inputChange1);
    let val1 = document.getElementById('pitch_value');

    let element2 = document.getElementById('volume_slider');
    element2.addEventListener('change', inputChange2);
    let val2 = document.getElementById('volume_value');

</script>